@import "rose-pine.css";

* {
    border: none;
    border-radius: 6px;
    min-height: 15px;
    color: #ebe6d3;
    font-family: "MapleMono";
    font-weight: 900;
    font-size: 13px;
}

window#waybar {
    background-color: @base;
    color: @rose;
}

tooltip {
    background-color: @base;
    border: 2px solid @crust;
}

#pulseaudio {
    margin: 6px 6px 2px 0px;
    padding: 2px 8px;
    color: @gold;
}

#workspaces {
    margin: 6px 0px 2px 6px;
    color: @text;
    border-radius: 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 6px 6px;
    color: @text;
}

#workspaces button.focused {
    color: @text;
}

#workspaces button.urgent {
    color: @text;
}



#center{
	margin-top: 5px;
}


#clock {
	font-weight: 900;
	font-size: 25px;
	color: @pine;
}





#tray{
    margin: 6px 0px 2px 0px;
    padding: 6px 6px;

}

#network{
    margin: 6px 0px 2px 0px;
    padding: 2px 8px;
    color: @rose;
}

#cpu{
    margin: 6px 0px 2px 0px;
    padding: 2px 8px;
    color: @rose;
}

#battery{
    margin: 6px 0px 2px 0px;
    padding: 2px 8px;
    color: @rose;
}

#memory{
    margin: 6px 0px 2px 0px;
    padding: 2px 8px;
    color: @rose;
}
