:root {
  --uc-bg-color: #1F1D29;
  --uc-show-new-tab-button: none;
  --uc-show-tab-separators: none;
  --uc-tab-separators-color: none;
  --uc-tab-separators-width: none;
  --uc-tab-fg-color: #9BCED7;
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
  --mff-bg: #1F1D29;
  --mff-icon-color: #9BCED7;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #F1CA93;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #EA6F91;
  --mff-tab-font-family: "FiraCode Nerd Font";
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 32px;
  --mff-tab-pinned-bg: #9BCED7;
  --mff-tab-selected-bg: #403C58;
  --mff-tab-soundplaying-bg: #9c89b8;
  --mff-urlbar-color: #98c1d9;
  --mff-urlbar-focused-color: #403C58;
  --mff-urlbar-font-family: "Fira Code";
  --mff-urlbar-font-size: 11pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #F1CA93;
  --mff-urlbar-results-font-family: "Fira Code";
  --mff-urlbar-results-font-size: 11pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #98c1d9;
}

.sidebar{
  background-color: var(--mff-bg) !important;
}

#titlebar { display: none; }
.urlbar-input-box { text-align: center; }
#nav-bar { margin: 3px; }
#urlbar {min-height: 25px;}

* {
    font-family: "Maple Mono";
}

.tabbrowser-tab[first-visible-tab][last-visible-tab]{
  background-color: var(--uc-bar-bg-color) !important;
}

#navigator-toolbox {
  border-bottom: 0px solid #ea6f91 !important;
  background: var(--uc-bg-color) !important;
}

#urlbar-background, .titlebar-buttonbox-container, #nav-bar, .tabbrowser-tab:not([selected]) .tab-background{
    background: var(--uc-bg-color) !important;
  border: none !important;
}

.browserContainer browser {
    border-radius: 5px !important;
    /* margin: 0vh 1vh 2vh 0vh; */
}

#navigator-toolbox {
    max-height: 100vh;
	height:auto;
	opacity: 1;
}

#navigator-toolbox:hover {
    max-height: 100vh;
    height: auto;
    
    & * {
        opacity: 1;
    }

}

.urlbar-icon > image {
  fill: var(--mff-icon-color) !important;
  color: var(--mff-icon-color) !important;
}

.toolbarbutton-text {
  color: var(--mff-icon-color)  !important;
}
.urlbar-icon {
  color: var(--mff-icon-color)  !important;

}

@-moz-document url-prefix(about:blank) {*{background-color:#191724;}}
